/* Gedit */

//Settings
$gedit_search_pad_full: 8px;
$gedit_search_border_radius: 4px;
$gedit_search_border_gap: 0;
$gedit_doc_list_pad_full: 4px 8px;

$gedit_open_document_hl_color: mix($base_color, $selected_bg_color, 75%);

//Classes
GeditViewFrame .gedit-search-slider {
	padding: $gedit_search_pad_full;
	border: solid $base_color;
	border-width: $gedit_search_border_gap 0 0 0;
	background-color: $bg_color;
	border-radius: 0 0 $gedit_search_border_radius $gedit_search_border_radius;
}

GeditOpenDocumentSelector .open-document-selector-treeview:prelight {
	background-color: $gedit_open_document_hl_color;
}

GeditWindow {
	.popover {
		.button { @extend %clear-button-shadow; }
		GtkSearchEntry {
			//Fix this
			border: solid $menu_bg_color;
			border-width: 0 0 4px 0;
		}
	}
	.pane-separator {
		border: none;
		background-color: transparent;
	}
}

.gedit-titlebar-right > .button { @include button-flat($fg_color); }

.gedit-document-panel {
	background-color: $base_color;
	color: $text_color;

	.list-row { padding: $gedit_doc_list_pad_full; }

	.prelight-row {
		&:not(:selected){ color: lighten($text_color, 20%); }
	}
}

.gedit-document-panel-group-row { background-color: $tab_color; }