/* Calendar */

//Settings
$calendar_pad_v: 2px;
$calendar_pad_h: 6px;

@mixin calendar-diff($calendar_bg_color, $darken_fg_perc) {
	&:inconsistent { color: darken($fg_color, $darken_fg_perc); }
	&.view, &.header, { background-color: $calendar_bg_color; }
}

//Classes
GtkCalendar {
	padding: $calendar_pad_v $calendar_pad_h;
	&.highlight { color: $selected_bg_color; }
	&.button { @include button-flat($text_color); }
	@include calendar-diff($base_color, 40%)
}

//Ubuntu calendar widget
.menuitem GtkCalendar {
	@include calendar-diff(transparent, 30%)
}