/* Colorchoser */

//Settings
$color_slider_width: $slider_width + 2px;
$color_slider_length: $slider_length - $slider_gap - 2px;

//Classes
GtkColorSwatch {
	&:selected {
		background-color: transparent;
		.color-light {color: $bg_color }
	}
}

GtkColorChooserWidget {
	#add-color-button {
		&:hover { color: lighten($fg_color, 20%); }
	}

	.scale {
		-GtkScale-slider-length: $color_slider_length;
		-GtkRange-slider-width: $color_slider_width;
		&.slider { border: none }
	}
}