 /* ! Entry * */

// Settings
$entry_ins_bg: mix($base_color, $bg_color, 50%);
$entry_ins_fg: mix($bg_color, $fg_color, 70%);

$entry_pad_v: 4px;
$entry_pad_h: 4px;

%entry-colors {
	background-color: $base_color;
	color: $text_color;

	&:selected { @extend %selected; }

	&:insensitive {
		background-color: $entry_ins_bg;
		color: $entry_ins_fg;
	}
}

// Classes
.entry {
	@extend %entry-colors;
	padding: $entry_pad_v $entry_pad_h;
	border: none;

	&.progressbar { @extend %selected; }
}

/* Linked entry */

// Settings
$linked_entry_sep: 2px;

@mixin linked-separator($sep_width, $dir: horizontal) {
	$sw: $sep_width 0;
	@if $dir == vertical { $sw: 0 $sep_width; }

	border: solid $bg_color;
	border-width: 0 $sw 0;
}

// Classes
.linked {
	&.horizontal {
		> .entry { @include linked-border($button_linked_r) }
		> .entry:not(:last-child) { @include linked-separator($linked_entry_sep); }
	}
	&.vertical {
		> .entry { @include linked-border($button_linked_r, vertical) }
		> .entry:not(:last-child) { @include linked-separator($linked_entry_sep, vertical); }
	}
}