/* Frames */

/* .frame { */
/* GtkFrame.frame { */
/* 	padding: 6px; */
/* 	border: 2px solid $frame_color; */
/* 	&.flat { border-style: none; } */
/* } */

/* GtkScrolledWindow .frame { border-style: none; } */
/* GtkViewport.frame { border-style: none; } */
/* GtkScrolledWindow .frame { border: 2px solid $frame_color; } */
/* GtkViewport.frame { border: 2px solid $frame_color; } */