 /* Notebook */

//Settings
$note_border: 2px;
$tab_underline: 4px;
$tab_sep: 1px;

$notetab_pad_v: 6px;
$notetab_pad_h: 8px;

@mixin tab($t_bg_color: $tab_color, $t_fg_color: $tab_fg_color) {
	background-color: $t_bg_color;

	&:hover {
		color: lighten($t_fg_color, 10%);
		background-color: lighten($t_bg_color, 10%);
	}

	& .label { color: $t_fg_color; }
}


//Classes
.notebook {
	/* padding: 4px; */
	background-color: $bg_color;

	-GtkNotebook-has-tab-gap: false;
	-GtkNotebook-tab-overlap: 1px;

	&.frame {
		border: solid $tab_color;

		&.top { border-width: 0 $note_border $note_border $note_border; }
		&.right { border-width: $note_border 0 $note_border $note_border; }
		&.bottom { border-width: $note_border $note_border 0 $note_border; }
		&.left { border-width: $note_border $note_border $note_border 0; }
	}

	&.header { background-color: $tab_color; }

	& tab {
		@include tab($tab_color);
		padding: $notetab_pad_v $notetab_pad_h;

		&.top:active { box-shadow: inset 0 (-$tab_underline) $selected_bg_color; }
		&.bottom:active { box-shadow: inset 0 $tab_underline $selected_bg_color; }
		&.right:active { box-shadow: inset $tab_underline 0 $selected_bg_color; }
		&.left:active { box-shadow: inset (-$tab_underline) 0 $selected_bg_color; }

		&.reorderable-page {
			border: solid $bg_color;

			&.top, &.bottom { border-width: 0 $tab_sep };
			&.left, &.right { border-width: $tab_sep 0; };
		}

		& .button {
			@include button-flat($tab_fg_color);
			GtkImage { padding: 0 0 0 8px}
		}
	}
}
