/* Scrollbar */

//Settings
$slider_width: 8px;
$slider_over_margin: 5px;

//Classes
.scrollbar {
	-GtkScrollbar-has-backward-stepper: false;
	-GtkScrollbar-has-forward-stepper: false;
	-GtkScrollbar-min-slider-length: 60;
	-GtkRange-slider-width: $slider_width;

	background-color: transparent;
	&.slider {
		background-color: $selected_bg_color;
		&.dragging { background-color: lighten($selected_bg_color, 10%); }
	}

	&:not(:hover):not(.dragging) {
		background-color: transparent;
		&.slider {
			background-color: $selected_bg_color;
			&.vertical {
				&:dir(ltr) { margin-left: $slider_over_margin; }
				&:dir(rtl) { margin-right: $slider_over_margin; }
			}
			&.horizontal { margin-top: $slider_over_margin }
		}
	}
}