/* Spinner */

//Settings
@keyframes spin { to { -gtk-icon-transform: rotate(1turn); } }

$spinner_color: $selected_bg_color;
$spinner_op_normal: 0.8;
$spinner_op_ins: 0.5;

//Classes
.spinner {
	color: $spinner_color;
	opacity: 0; // non spinning spinner makes no sense

	-gtk-icon-source: -gtk-icontheme("process-working-symbolic");

	&:active {
		opacity: $spinner_op_normal;
		animation: spin 1s linear infinite;

		&:insensitive { opacity: $spinner_op_ins; }
	}
}
