/* Stack switcher */

.linked.stack-switcher.horizontal > .button {
	border-radius: 0;
	@include tab($tab_color);

&:active, &:checked {
		box-shadow: inset 0 (-$tab_underline) $selected_bg_color;
		background-color: $tab_color;
	}
}