/* Combobox */

// Settings
$arrow_pad_r: 4px;

//Classes
GtkComboBox {
	.button {
		padding: ($normal_button_pad_v - 2px) $normal_button_pad_h;
		padding-right: $arrow_pad_r;
	}

	&.combobox-entry {
		.button {
			@include button-flat($text_color, $base_color);
			&:insensitive { background-color: $entry_ins_bg; }
		}
	}
}

/* Linked combobox */

// Settings
$linked_combo_sep: 1px;

// Classes
.linked {
	&.horizontal { > GtkComboBox:not(:last-child) > .button { @include linked-separator($linked_combo_sep); } }
	&.vertical { GtkComboBox:not(:last-child) > .button { @include linked-separator($linked_combo_sep, vertical); } }
}