/* Frames */

//Settings
$frame_pad: 0px;
$frame_border: 2px;

//Classes
GtkFrame.frame {
	padding: $frame_pad;
	border: $frame_border solid $frame_color;
	&.flat,
	&.app-notification { border: none; }
}