/* Menu */

//Settings
$menuitem_pad_v: 4px;
$menuitem_pad_h: 6px;

//Classes
.menu {
	border: none;
	background-color: $menu_bg_color;
	color: $menu_fg_color;
}

.menuitem {
	-GtkMenuItem-arrow-scaling: 0.6;

	padding: $menuitem_pad_v $menuitem_pad_h;
	background-color: transparent;

	.scale { @include scale-colors-fix($menu_bg_color); }

	&:hover {
		@extend %selected;
		.scale {
			// dirty fix for selected scale
			@include scale-colors-fix($selected_bg_color);
			&.highlight { background-color: $selected_bar_color; }
		}
	};
}

// Fix this
GtkSeparatorMenuItem {
	color: $frame_color;
}