/* Separators */

//Settings
@mixin sep-colors-set($sep_color, $slp: 5%, $sdp: 5%) {
	$s_light_color: lighten($sep_color, $slp);
	$s_dark_color: darken($sep_color, $sdp);

	border-top-color: $s_dark_color;
	border-bottom-color: $s_light_color;
	border-left-color: $s_dark_color;
	border-right-color: $s_light_color;
}

//Classes
.separator {
	-GtkWidget-wide-separators: true;
	border: solid 0;

	&.horizontal,
	.toolbar.vertical > & {
		-GtkWidget-separator-height: 2;
		border-width: 1px 0;
	}

	&.vertical,
	.toolbar.horizontal > & {
		-GtkWidget-separator-width: 2;
		border-width: 0 1px;
	}

	@include sep-colors-set($bg_color)
}