/* Toolbar */

//Settings
$toolbar_pad_v: 4px;
$toolbar_pad_h: 8px;
$headbar_pad_full: 4px 8px 8px 8px;
$primary_sep_width: 2px;

%title-font {
	.title { font-weight: bold; }
	.subtitle {
		font-size: smaller;
		opacity: 0.5;
	}
}

@mixin toolbar-button($toolbar_bg_color: $bg_color) {
	> .button:not(.text-button) {
		@include button-flat($fg_color);
	}
	> GtkToolButton > .button.flat:hover { background-color: lighten($toolbar_bg_color, 10%); }
}

//Classes
.primary-toolbar {
	@include toolbar-button($primary_bar_bg_color);
	background-color: $primary_bar_bg_color;
	.scale { @include scale-colors-fix($primary_bar_bg_color); }


	.separator { @include sep-colors-set($primary_bar_bg_color) }
}

.toolbar {
	@include toolbar-button;

	&.horizontal { padding: $toolbar_pad_v $toolbar_pad_h; }
	&.vertical { padding: $toolbar_pad_h $toolbar_pad_v; }
}

.header-bar {
	@extend %title-font;
	@include toolbar-button;

	padding: $headbar_pad_full;
}

.titlebar {
	@extend %title-font;
	background-color: $bg_color;
}