// Action bar
actionbar > revealer > box {
	@extend %toolbar;
	border-top: 1px solid $borders_color;
}

searchbar,
.location-bar {
	border-top: 1px solid $borders_color;
}

// Action buttons
$types: (
	suggested: $success_color,
	destructive: $error-color
);

@each $type, $color in $types {
	.#{$type}-action {
		@include button(mix($button_bg_color, $color, 75%), $selected_fg_color);
	}
}
