// Settings
$actionbar_pad_v: 4px;
$actionbar_pad_h: 8px;


// Action bar
actionbar > revealer > box {
	padding: $actionbar_pad_v $actionbar_pad_h;

	@extend %toolbar;
	border-top: 1px solid $borders_color;
}

searchbar,
.location-bar {
	border-top: 1px solid $borders_color;
}

// Action buttons
$types: (
	suggested: $info_bg_color,
	destructive: $error_bg_color
);

@each $type, $color in $types {
	.#{$type}-action {
		@include button(mix($button_bg_color, $color, 75%), $selected_fg_color);
	}
}
