// Settings
$_calendar_pad_v: 1px;
$_calendar_pad_h: 2px;

// Patterns
%calendar_base {
	padding: $_calendar_pad_v $_calendar_pad_h;
	&.highlight { font-size: smaller; }
}

@mixin calendar_setup($bg, $fg, $highlight: $selected_bg_color) {
	&.view { background: $bg; }
	&.button { @include flat_button($fg); }
	&:indeterminate { color: mix($fg, $bg, 50%); }
	&.highlight { color: $highlight; }
}

// Classes
calendar {
	@extend %calendar_base;
	@include calendar_setup($bg_color, $fg_color);
}

//gnome-calendar
// .calendar-view {
// 	background-color: $base_color;
// 	color: $text_color;
// }

