// Settings
$_entry_pad_v: 5px;
$_entry_pad_h: 8px;

$_linked_entry_gap: 2px;

// Entry
%entry {
	&:selected {
		&, &:selected:focus {
			background-color: $selected_bg_color;
			color: $selected_fg_color;
		}
	}

	progress {
		background-color: $selected_bg_color;
		border-width: 0;
		color: $selected_fg_color;
	}

	padding: $_entry_pad_v $_entry_pad_h;

	image.left { padding-right: $_entry_pad_h; }
	image.right { padding-left: $_entry_pad_h; }

	selection { @extend %selected_items; }

	// entry error and warning style
	@each $e_type, $e_color, $e_fg_color in
		(warning, $warning_bg_color, $warning_fg_color),
		(error, $error_bg_color, $error_fg_color),
		(search-missing, $error_bg_color, $error_fg_color)
	{
		&.#{$e_type} {
			color: $e_fg_color;
			background-color: mix($base_color, $e_color, 60%);

			image { color: $e_fg_color; }
			selection {
				background-color: $e_fg_color;
				color: $e_color;
			}
		}
	}
}

@mixin entry($bg, $fg, $border: $borders_color) {
	@extend %entry;

	color: $fg;
	background-color: $bg;
	caret-color: $fg;

	&:disabled {
		color: mix($bg, $fg, 70%);
		background-color: mix($bg_color, $bg, 50%);
	}
}

entry {
	@include entry($base_color, $text_color);
	.linked:not(.vertical) > & { @include linked_object($bg_color, $_linked_entry_gap); }
	.linked.vertical > & { @include linked_vertical_object($bg_color, $_linked_entry_gap);; }
}

