// Classes
frame > border, .frame {
	border: 1px solid $borders_color;
	&.flat { border-style: none; }
}

/* avoid double borders when a viewport is packed into a GtkScrolledWindow */
scrolledwindow viewport.frame { border: 0; }
