// Settings
$_row_pad: 4px;

$_flowbox_pad_v: 4px;
$_flowbox_pad_h: 6px;


// Classes
list {
	color: $text_color;
	background-color: $base_color;
	row { padding: $_row_pad; }
}

row {
	transition: all 200ms cubic-bezier(.25, .46, .45, .94);

	&.activatable {
		&:hover:not(:selected) { background-color: transparentize($fg_color, .9); }
		&:active { box-shadow: inset 0 2px 2px -2px transparentize($black, .8); }
	}

	scale { @include scale_setup($slider_color, $base_color, $bar_bg_color); }

	// &:selected { @extend %selected_items; }
}

flowbox {
	// rubberband { @extend rubberband; }
	flowboxchild {
		padding: $_flowbox_pad_v $_flowbox_pad_h;
	}
}

