//Settings
$types: (
	info: $info_bg_color,
	warning: $warning_bg_color,
	question: $question_bg_color,
	error: $error_bg_color,
);

//Classes
@each $type, $color in $types {
	$ibg_color: $color;

	.#{$type} {
		background-color: mix($ibg_color, $base_color, 20%)
	}
}
