// Settings
$_menu_pad_v: 2px;
$_menu_pad_h: 2px;

$_sep_margin_v: 3px;
$_sep_margin_h: 12px;

$_menuitem_pad_v: 4px;
$_menuitem_pad_h: 6px;

$_menuitem_height: 14px;
$_menuitem_width: 40px;

$_menu_check_size: 16px;
$_menu_arrow_size: 16px;
$_menu_check_margin: 8px;
$_menu_arrow_margin: 10px;
$_menu_overflow_arrow_pad: 6px 0;

// Classes
menuitem {
	accelerator {
		color: alpha($menu_fg_color, .6);
		&:hover { color: alpha($selected_fg_color, .6); }
	}

	check, radio {
		min-height: $_menu_check_size;
		min-width: $_menu_check_size;

		&:dir(ltr) { margin-right: $_menu_check_margin; }
		&:dir(rtl) { margin-left: $_menu_check_margin; }
	}
}

menu,
.menu,
.context-menu {
	padding: $_menu_pad_v $_menu_pad_h;
	background-color: $menu_bg_color;
	color: $menu_fg_color;

	separator {
		margin: $_sep_margin_v $_sep_margin_h;
		@include separator_setup($menu_bg_color, 8%, 5%)
	}

	menuitem {
		min-height: $_menuitem_height;
		min-width: $_menuitem_width;
		padding: $_menuitem_pad_v $_menuitem_pad_h;

		&:active, &:hover { @extend %selected; }

		*:active, *:hover { color: $selected_fg_color; }
		&:disabled, *:disabled { color: mix($menu_fg_color, $menu_bg_color, 50%); }

		// submenu indicators
		arrow {
			min-height: $_menu_arrow_size;
			min-width: $_menu_arrow_size;

			&:dir(ltr) {
				-gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
				margin-left: $_menu_arrow_margin;
			}

			&:dir(rtl) {
				-gtk-icon-source:-gtk-icontheme('pan-end-symbolic-rtl');
				margin-right: $_menu_arrow_margin;
			}
		}

		calendar { @include calendar_setup($menu_bg_color, $menu_fg_color); }

		// avoids labels color being overridden, see
		// https://bugzilla.gnome.org/show_bug.cgi?id=767058
		label { &:dir(rtl), &:dir(ltr) { color: inherit; } }
	}

	// overflow arrows
	> arrow {
		min-height: $_menu_arrow_size;
		min-width: $_menu_arrow_size;
		padding: $_menu_overflow_arrow_pad;

		&.top { -gtk-icon-source: -gtk-icontheme('pan-up-symbolic'); }

		&.bottom { -gtk-icon-source: -gtk-icontheme('pan-down-symbolic'); }

		&:hover { background-color: mix($menu_fg_color, $menu_bg_color, 10%); }
	}
}

