// Floating bar
.floating-bar {
	@include osd_setup($osd_bg_color, $osd_fg_color)
}


// Symbolic images
.image {
	color: alpha(currentColor, .8);
	&:hover { color: currentColor; }
	&:selected, &:selected:hover { color: $selected_fg_color; }
}
