// Settings
$_arrow_pad: 4px;

$_tab_pad_v: 5px;
$_tab_pad_h: 10px;

$_tab_underline: 4px;
$_tab_sep: 1px;

$_tab_frame_width: 1px;


// Mixins
%notebook_vert_arrows {
	&.down { -gtk-icon-source: -gtk-icontheme('pan-start-symbolic'); }
	&.up { -gtk-icon-source: -gtk-icontheme('pan-end-symbolic'); }
}

%notebook_horz_arrows {
	&.down { -gtk-icon-source: -gtk-icontheme('pan-up-symbolic'); }
	&.up { -gtk-icon-source: -gtk-icontheme('pan-down-symbolic'); }
}


// Classes
notebook {
	&.frame {
		border-color: $tab_bg_color;
		border-width: $_tab_frame_width;
	}

	> header {
		background-color: $tab_bg_color;
		color: $tab_fg_color;

		&.top > tabs > arrow, &.bottom > tabs > arrow { @extend %notebook_vert_arrows; }
		&.left > tabs > arrow, &.right > tabs > arrow { @extend %notebook_horz_arrows; }

		> tabs > arrow {
			padding: $_arrow_pad;
			&:hover {
				color: lighten($tab_fg_color, 10%);
				background-color: lighten($tab_bg_color, 10%);
			}

			&:active {
				background-color: mix($tab_bg_color, $selected_bg_color, 70%);
			}
		}

		tab {
			padding: $_tab_pad_v $_tab_pad_h;

			&.reorderable-page {
				border: solid $bg_color;
			}

			button,
			button.flat {
				margin-left: $_tab_pad_h;
			}

			&:hover {
				color: lighten($tab_fg_color, 10%);
				background-color: lighten($tab_bg_color, 10%);
			}
		}

		&.top tab:checked { box-shadow: inset 0 (-$_tab_underline) $selected_bg_color; }
		&.bottom tab:checked { box-shadow: inset 0 $_tab_underline $selected_bg_color; }
		&.right tab:checked { box-shadow: inset $_tab_underline 0 $selected_bg_color; }
		&.left tab:checked { box-shadow: inset (-$_tab_underline) 0 $selected_bg_color; }

		// FIX LAST CHILD
		&.top tab.reorderable-page, &.bottom tab.reorderable-page, { border-right-width: $_tab_sep; }
		&.right tab.reorderable-page, &.left tab.reorderable-page, { border-top-width: $_tab_sep; }
	}
}
