// Settings
$_osd_pad: 8px;
$_osd_border_radius: 4px;

// Patterns
%osd_base {
	padding: $_osd_pad;
	border-radius: $_osd_border_radius;
}

@mixin osd_setup($bg, $fg) {
	color: $fg;
	background-color: $bg;

	scale { @include scale_setup($slider_color, $bg, $bar_bg_color); }

	button:not(.text-button) { @include flat_button($fg); }
}

//Classes
.osd {
	@extend %osd_base;
	@include osd_setup($osd_bg_color, $osd_fg_color)
}
