// Mixins
@mixin overshoot($position, $color: $fg_color) {
	$_small_gradient_length: 5%;
	$_big_gradient_length: 100%;

	$_position: center top;
	$_small_gradient_size: 100% $_small_gradient_length;
	$_big_gradient_size: 100% $_big_gradient_length;

	@if $position == bottom {
		$_position: center bottom;
		$_linear_gradient_direction: to top;
	} @else if $position == right {
		$_position: right center;
		$_small_gradient_size: $_small_gradient_length 100%;
		$_big_gradient_size: $_big_gradient_length 100%;
	} @else if $position == left {
		$_position: left center;
		$_small_gradient_size: $_small_gradient_length 100%;
		$_big_gradient_size: $_big_gradient_length 100%;
	}

	$_small_gradient_color: darken($color, 20%);
	$_big_gradient_color: $color;

	$_small_gradient: -gtk-gradient(
		radial,
		$_position, 0,
		$_position, .5,
		to(alpha($_small_gradient_color, .35)),
		to(alpha($_small_gradient_color, .25))
	);

	$_big_gradient: -gtk-gradient(
		radial,
		$_position, 0,
		$_position, .6,
		from(alpha($_big_gradient_color, .2)),
		to(alpha($_big_gradient_color, 0))
	);

	background-image: $_small_gradient, $_big_gradient;
	background-size: $_small_gradient_size, $_big_gradient_size;

	background-repeat: no-repeat;
	background-position: $_position;

	// reset some properties to be sure to not inherit them somehow
	background-color: transparent;
	border: 0;
	box-shadow: none;
}

// Classes
scrolledwindow {
	viewport.frame { border-style: none; }

	// Indicate if the user scrolls when there is no more content
	overshoot {
		&.top { @include overshoot(top); }
		&.bottom { @include overshoot(bottom); }
		&.left { @include overshoot(left); }
		&.right { @include overshoot(right); }
	}

	// Indicate whether there is content that can be scrolled to
	// Just disable this feature
	undershoot {
		background: none;
	}
}
