// Settings
$_progressbar_width: 8px;

$progressbar_pad_v: 4px;
$progressbar_pad_h: 2px;


// Classes
progressbar {
	padding: $progressbar_pad_v $progressbar_pad_h;
	font-size: smaller;

	&.horizontal {
		trough,
		progress { min-height: $_progressbar_width; }
	}

	&.vertical {
		trough,
		progress { min-width: $_progressbar_width; }
	}

	trough {
		background-color: $bar_bg_color;
	}

	progress {
		background-color: $selected_bg_color;
	}

	&:selected { background-color: green; }
}
