// Settengs
$_slider_min_length: 60px;
$_slider_normal_width: 6px;
$_slider_small_width: 3px;

$_sbw: 1px; // slider border width

// Classes
* {
	-GtkScrollbar-has-backward-stepper: false;
	-GtkScrollbar-has-forward-stepper: false;
}

scrollbar {
	background-color: transparent;
	transition: 300ms ease-out;

	slider {
		border-style: solid;
		border-color: mix($selected_bg_color, $base_color, 80%);
		background-color: $selected_bg_color;

		&:hover:active { background-color: lighten($selected_bg_color, 5%); }
		&:disabled { background-color: transparent; }
	}

	&.top slider { border-width: 0 $_sbw $_sbw $_sbw }
	&.bottom slider { border-width: $_sbw $_sbw 0 $_sbw }
	&.left slider { border-width: $_sbw $_sbw $_sbw 0}
	&.right slider { border-width: $_sbw 0 $_sbw $_sbw }

	&.horizontal slider {
		min-width: $_slider_min_length;
		min-height: $_slider_normal_width;
	}

	&.vertical slider {
		min-height: $_slider_min_length;
		min-width: $_slider_normal_width;
	}

	&.overlay-indicator {
		&:not(.dragging):not(.hovering) {
			&.vertical slider { min-width: $_slider_small_width; }
			&.horizontal slider { min-height: $_slider_small_width; }
		}
	}
}
