// Stuff for .needs-attention
$_dot_color: lighten($selected_bg_color, .15);

@keyframes needs_attention {
	from {
		background-image: -gtk-gradient(radial, center center, 0, center center, .01, to($_dot_color), to(transparent));
	}

	to {
		background-image: -gtk-gradient(radial, center center, 0, center center, .5, to($selected_bg_color), to(transparent));
	}
}

%needs_attention {
	animation: needs_attention 150ms ease-in;
	$_dot_shadow: _text_shadow_color();
	$_dot_shadow_r: .45;
	background-image: -gtk-gradient(radial, center center, 0, center center, .5, to($_dot_color), to(transparent)),
	                  -gtk-gradient(radial, center center, 0, center center, $_dot_shadow_r, to($_dot_shadow), to(transparent));
	background-size: 6px 6px, 6px 6px;
	background-repeat: no-repeat;

	background-position: right 3px, right 2px;

	&:dir(rtl) {
		background-position: left 3px, left 2px;
	}
}

// Shared stuff
$link_roundness: 4px;

%selected {
	&, &:focus {
		background-color: $selected_bg_color;
		color: $selected_fg_color;
	}
}

%linked_middle {
	border-radius: 0;
}

%linked {
	&:first-child {
		border-radius: $link_roundness;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	&:last-child {
		border-radius: $link_roundness;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	&:only-child {
		border-radius: 0;
	}
}

%linked_vertical {
	&:first-child {
		border-radius: $link_roundness;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	&:last-child {
		border-radius: $link_roundness;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	&:only-child {
		border-radius: 0;
	}
}
