// Settings
$_placesidebar_row_height: 28px;
$_placesidebar_rev_pad_v: 0;
$_placesidebar_rev_pad_h: 4px;
$_placesidebar_icons_opacity: .7;
$_placesidebar_icons_margin: 8px;


// Classes
button.sidebar-button {
	@include flat_button($fg_color)
}

.sidebar {
	background-color: $base_color;
}

placessidebar {
	row {
		min-height: $_placesidebar_row_height;
		> revealer { padding: $_placesidebar_rev_pad_v $_placesidebar_rev_pad_h; }

		image.sidebar-icon {
			opacity: $_placesidebar_icons_opacity; // dim the device icons
			&:dir(ltr) { padding-right: $_placesidebar_icons_margin; }
			&:dir(rtl) { padding-left: $_placesidebar_icons_margin; }
		}
	}
}
