// Settings
$_toggle_margin: 8px;

// Mixins
@mixin plain-check($unchecked, $unchecked-ins, $checked, $checked-ins, $mixed, $mixed-ins) {
	-gtk-icon-source: url($unchecked);

	&:indeterminate { -gtk-icon-source: url($unchecked-ins); }
	&:checked {
		-gtk-icon-source: url($checked);
		&:disabled { -gtk-icon-source: url($checked-ins); }
	}
	&:indeterminate {
		-gtk-icon-source: url($mixed);
		&:disabled { -gtk-icon-source: url($mixed-ins); }
	}
}

@mixin menuitem-check($checked, $checked-ins) {
	-gtk-icon-source: none;

	&:active, &:checked {
		-gtk-icon-source: url($checked);
		&:disabled { -gtk-icon-source: url($checked-ins); }
	}

	&:indeterminate {
		-gtk-icon-source: url("images/menuitem-checkbox-mixed.svg");
		&:hover { -gtk-icon-source: url("images/menuitem-checkbox-mixed-hover.svg"); }
		&:disabled { -gtk-icon-source: url("images/menuitem-checkbox-mixed-insensitive.svg"); }
	}
}

// Classes
check {
	@include plain-check(
		"images/checkbox-unchecked.svg",
		"images/checkbox-unchecked-insensitive.svg",
		"images/checkbox-checked.svg",
		"images/checkbox-checked-insensitive.svg",
		"images/checkbox-mixed.svg",
		"images/checkbox-mixed-insensitive.svg"
	);
	margin-right: $_toggle_margin;
}

radio {
	@include plain-check(
		"images/radio-unselected.svg",
		"images/radio-unselected-insensitive.svg",
		"images/radio-selected.svg",
		"images/radio-selected-insensitive.svg",
		"images/radio-mixed.svg",
		"images/radio-mixed-insensitive.svg"
	);
	margin-right: $_toggle_margin;
}

radio.right, check.right {
	margin-right: 0;
	margin-left: $_toggle_margin;
}

menuitem {
	check {
		@include menuitem-check(
			"images/menuitem-checkbox-checked.svg",
			"images/menuitem-checkbox-checked-insensitive.svg"
		);
	}

	radio {
		@include menuitem-check(
			"images/menuitem-radio-checked.svg",
			"images/menuitem-radio-checked-insensitive.svg"
		);
	}
}
