/***********************
 ! Check and Radio items
************************/

$suffix: if($variant == "dark", "-dark", "");

@mixin toggle($type) {
    background-image: none;

    -gtk-icon-source: -gtk-scaled(url("../assets/#{$type}-unchecked#{$suffix}.png"),
                                  url("../assets/#{$type}-unchecked#{$suffix}@2.png"));

    &:disabled { -gtk-icon-source: -gtk-scaled(url("../assets/#{$type}-unchecked-insensitive#{$suffix}.png"),
                                               url("../assets/#{$type}-unchecked-insensitive#{$suffix}@2.png")); }

    &:checked, &:active {
        -gtk-icon-source: -gtk-scaled(url("../assets/#{$type}-checked#{$suffix}.png"),
                                      url("../assets/#{$type}-checked#{$suffix}@2.png"));

        &:disabled { -gtk-icon-source: -gtk-scaled(url("../assets/#{$type}-checked-insensitive#{$suffix}.png"),
                                                   url("../assets/#{$type}-checked-insensitive#{$suffix}@2.png")); }
    }

    &:indeterminate {
        -gtk-icon-source: -gtk-scaled(url("../assets/#{$type}-mixed#{$suffix}.png"),
                                      url("../assets/#{$type}-mixed#{$suffix}@2.png"));

        &:disabled { -gtk-icon-source: -gtk-scaled(url("../assets/#{$type}-mixed-insensitive#{$suffix}.png"),
                                                   url("../assets/#{$type}-mixed-insensitive#{$suffix}@2.png")); }
    }

    menuitem &, modelbutton & {
        -gtk-icon-source: -gtk-scaled(url("../assets/menuitem-#{$type}-checked-insensitive.png"),
                                      url("../assets/menuitem-#{$type}-checked-insensitive@2.png"));

        &:disabled { -gtk-icon-source: none; }

        &:checked, &:active {
            -gtk-icon-source: -gtk-scaled(url("../assets/menuitem-#{$type}-checked.png"),
                                          url("../assets/menuitem-#{$type}-checked@2.png"));

            &:hover { -gtk-icon-source: -gtk-scaled(url("../assets/menuitem-#{$type}-checked-hover.png"),
                                                    url("../assets/menuitem-#{$type}-checked-hover@2.png")); }

            &:disabled { -gtk-icon-source: -gtk-scaled(url("../assets/menuitem-#{$type}-checked-insensitive.png"),
                                                       url("../assets/menuitem-#{$type}-checked-insensitive@2.png")); }
        }

        &:indeterminate {
            -gtk-icon-source: -gtk-scaled(url("../assets/menuitem-#{$type}-mixed.png"),
                                          url("../assets/menuitem-#{$type}-mixed@2.png"));

            &:hover { -gtk-icon-source: -gtk-scaled(url("../assets/menuitem-#{$type}-mixed-hover.png"),
                                                    url("../assets/menuitem-#{$type}-mixed-hover@2.png")); }

            &:disabled { -gtk-icon-source: -gtk-scaled(url("../assets/menuitem-#{$type}-mixed-insensitive.png"),
                                                       url("../assets/menuitem-#{$type}-mixed-insensitive@2.png")); }
        }
    }
}

@include exports("checkradio") {
    radio {
        @include toggle("radio");
        min-width: 16px;
        min-height: 16px;
        margin-right: $spacing;
    }

    check {
        @include toggle("checkbox");
        min-width: 16px;
        min-height: 16px;
        margin-right: $spacing;
    }

    radio:dir(rtl), check:dir(rtl) {
        margin-right: 0;
        margin-left: $spacing;
    }

    //selection-mode
    @each $s,$as in ('', '-unchecked'),
                  (':hover', '-unchecked'),
                  (':active', '-checked'),
                  (':backdrop', '-unchecked'),
                  (':checked', '-checked'),
                  (':checked:hover', '-checked'),
                  (':checked:active', '-checked'),
                  (':backdrop:checked', '-checked') {
        .view.content-view.check#{$s}:not(list) {
            -gtk-icon-shadow: none;
            -gtk-icon-source: -gtk-scaled(url("../assets/grid-selection#{$as}#{$suffix}.png"),
                                          url("../assets/grid-selection#{$as}#{$suffix}@2.png"));
            background-color: transparent;
        }
    }
}
