// Settings
$_header_pad_v: 6px;
$_header_pad_h: 8px;

$_toolbar_pad_v: 2px;
$_toolbar_pad_h: 4px;

/* $_toolbar_button_pad_v: 2px; */
/* $_toolbar_button_pad_h: 6px; */

$_title_font_pad_h: 12px;

$_titlebar_min_size: 32px;
$_toolbar_min_size: 32px;

// Mixins
%title-font {
	.title {
		font-weight: bold;
		padding: 0 $_title_font_pad_h;
	}
	.subtitle {
		font-size: smaller;
		opacity: 0.5;
		padding: 0 $_title_font_pad_h;
	}
}

%toolbar {
	padding: $_toolbar_pad_v $_toolbar_pad_h;
	&.vertical { padding: $_toolbar_pad_h $_toolbar_pad_v; }

	-gtk-icon-style: symbolic;

	/* button { */
	/* 	&.horizontal { padding: $_toolbar_button_pad_v $_toolbar_button_pad_h; } */
	/* 	&.vertical { padding: $_toolbar_button_pad_h $_toolbar_button_pad_v; } */
	/* } */
}

%headerbar {
	// fake separator
	border-width: 0 0 1px;
	border-style: solid;
	border-color: darken($titlebar_bg_color, 5%);
	box-shadow: 0 1px 1px lighten($titlebar_bg_color, 5%);

	& > .image-button:not(.text-button) {
		@include flat_button($fg_color);
	}
}

%titlebar {
	color: $titlebar_fg_color;
	background: $titlebar_bg_color;
	min-height: $_titlebar_min_size;

	@extend %title-font;

	button.titlebutton {
		@include flat_button($fg_color);
	}
}

// Classes
toolbar {
	min-width: $_toolbar_min_size;
	min-height: $_toolbar_min_size;

	color: $toolbar_fg_color;
	background: $toolbar_bg_color;

	@extend %toolbar;

	&.inline-toolbar {
		padding: 1px;
		border-width: 0 1px 1px;
		border-style: solid;
		border-color: $borders_color;
	}
}

headerbar {
	padding: $_header_pad_v $_header_pad_h;
	@extend %titlebar;
	@extend %headerbar;
}

.titlebar:not(headerbar) {
	@extend %titlebar;
}


