//Settings
$tooltip_bg_color: mix($bg_color, $selected_bg_color, 85%);
$tooltip_border: 0;
$tooltip_r: 2px;


//Classes
.tooltip,
tooltip {
	&.background {
		border-radius: $tooltip_r;
		background-color: $tooltip_bg_color;
		border: solid darken($tooltip_bg_color, 5%) $tooltip_border;
		color: $tooltip_fg_color;
	}
}
