// Settings
$_view_sep_color: $bg_color;

// Classes
.view,
iconview {
	color: $text_color;
	background-color: $base_color;

	*:selected { &:focus, & { @extend %selected_items; } }
}

textview text {
	selection { &:focus, & { @extend %selected_items; } }
}

.rubberband,
rubberband {
	border: 1px solid darken($selected_bg_color, .1);
	background-color: transparentize(darken($selected_bg_color, .1), .8);
}

treeview.view {
	// -GtkTreeView-grid-line-width: 1;
	// -GtkTreeView-grid-line-pattern: '';
	// -GtkTreeView-tree-line-width: 1;
	// -GtkTreeView-tree-line-pattern: '';

	border-left-color: mix($fg_color, $base_color, 50%); // this is actually the tree lines color,
	border-top-color: $_view_sep_color; // while this is the grid lines color, better then nothing

	&.separator {
		min-height: 2px; // !!!
		color: $_view_sep_color;
	}

	&.expander {
		-gtk-icon-source: -gtk-icontheme('pan-end-symbolic');

		&:hover { color: lighten($fg_color, 10%); }
		&:selected { color: $selected_fg_color; }
		&:checked { -gtk-icon-source: -gtk-icontheme('pan-down-symbolic'); }
	}

	&.progressbar {
		background-color: $selected_bg_color;
		&:selected {
			background-color: lighten($selected_bg_color, 10%);
		}
	}

	&.trough, &.trough:selected  {
		background-color: $bar_bg_color;
	}

	header {
		button {
			font-weight: bold;

			border-style: solid;
			border-width: 0 1px 0 0;
			border-color: $base_color;

			&:last-child, &:only-child { border-style: none; }
		}

		button:last-child { &:backdrop, & { border-right-style: none; } }
	}

	button.dnd,
	header.button.dnd { // for treeview-like derive widgets
		&:active, &:selected, &:hover, & {
			background-color: mix($button_bg_color, $info_bg_color, 75%);
		}
	}
}


// placesview {
// 	.server-list-button > image {
// 		transition: 200ms cubic-bezier(.25, .46, .45, .94);
// 		-gtk-icon-transform: rotate(0turn);
// 	}

// 	.server-list-button:checked > image {
// 		transition: 200ms cubic-bezier(.25, .46, .45, .94);
// 		-gtk-icon-transform: rotate(-0.5turn);
// 	}
// }


