/* Nautilus file manager*/

//Settings
$nau_switcher_pad_h: 8px;
$nau_switcher_pad_v: 8px;

//Classes
NautilusToolbar.header-bar {
	> .linked {
		.button { @include button-normal($normal_pad_v: $nau_switcher_pad_v, $normal_pad_h: $nau_switcher_pad_h) }
	}
	> *:last-child {
		.button { @include button-flat($fg_color); }
	}
}

NautilusPathBar.linked.path-bar {
	.button {
		border-radius: 0;
		@include button-normal($normal_bg_color: $pathbar_bg_color);
		@include linked-separator($pathbar_button_gap);
	}
}