/* Nemo file manager */

//Settings
$nemo_toolbar_button_pad_h: 4px;

//Classes
NemoToolbar .primary-toolbar {
	&.horizontal {
		background-color: transparent;
		padding: $headbar_pad_full;
	}

	> GtkToolItem:first-child,
	> GtkToolItem:nth-child(3) {
		.button { @include button-flat($fg_color); }
	}

	* { padding: 0 $nemo_toolbar_button_pad_h; }
}

NemoPathBar {
	GtkArrow {
		/* -GtkArrow-arrow-scaling: 1; */
		opacity: 0.8
	}

	.button {
		&:not(GtkToggleButton) { padding: 0px; }
		@include button-normal($normal_bg_color: $pathbar_bg_color);
		@include linked-separator($pathbar_button_gap);
	}
}

NemoPlacesTreeView {
	-NemoPlacesTreeView-disk-full-bar-width: 0; // Disable disk bar
}

NemoWindow .sidebar .view {
	background-color:$bg_color;
	&:selected { background-color: $selected_bg_color; }
}
