/* Some shared pattens */
%selected {
	background-color: $selected_bg_color;
	color: $selected_fg_color;
}

/* GTK settings */
* {
}

/* Base background */
.background {
	background-color: $bg_color;
	color: $fg_color;
}

GtkImage, GtkLabel, GtkBox, GtkGrid {
	background-color: transparent;
}

/* Base states */
* {
	&:selected { @extend %selected; }
	&:insensitive {
		-gtk-image-effect: dim;
		color: mix($bg_color, $fg_color, 70%);
	}

	&:hover { -gtk-image-effect: highlight; }
}