/* Dialogs */

//Message
$message_buttons_gap: 4px;

.message-dialog .linked.dialog-action-area .button {
	border-radius: 0;

	// Fix this
	border: solid $bg_color;
	border-width: 0 ($message_buttons_gap / 2);
}

.dialog-vbox > GtkBox.horizontal > GtkImage { padding: 20px 10px 10px 10px }