/* Links */

* {
	-GtkHTML-link-color: $link_color;
	-GtkIMHtml-hyperlink-color: $link_color;
	-GtkWidget-link-color: $link_color;
	-GtkWidget-visited-link-color: $visited_link_color;

	&:link { color: $link_color; }
	&:visited { color: $visited_link_color; }
}