/* Popover */

//Settings
$popover_border_width: 1px;
$popover_border_radius: 4px;

$menu_sep_light_color: lighten($menu_bg_color, 8%);
$menu_sep_dark_color: darken($menu_bg_color, 5%);

//Classes
.popover {
	.background {
		color: $menu_fg_color;
		background-color: $menu_bg_color;
	}

	.scale { @include scale-colors-fix($menu_bg_color); }

	border: solid $frame_color $popover_border_width;
	border-radius: $popover_border_radius;
	box-shadow: 0 2px 3px rgba(black, 0.5);

	.separator { @include sep-colors-set($menu_sep_light_color, $menu_sep_dark_color) }

	.menuitem {
		&.button {
			&, &:focus, &:active, &:checked {
				background-color: transparent;
				&:hover { @extend %selected; };
			}
		}
	}
}