/* Progressbar */

//Settings
$progressbar_width: 8px;
$levelbar_width: 4px;
$levelbar_gap: 2px;

$selected_bar_color: lighten($selected_bg_color, 10%);

@mixin progressbar-base {
	.progressbar {
		background-color: $selected_bg_color;
		&:selected { background-color: $selected_bar_color; }
	}
	.trough { background-color: $bar_color; }
}

//Classes
@include progressbar-base;

GtkProgressBar {
	-GtkProgressBar-min-horizontal-bar-height: $progressbar_width;
	-GtkProgressBar-min-vertical-bar-width: $progressbar_width;
}

GtkLevelBar {
	-GtkLevelBar-min-block-height: $levelbar_width;
	&.vertical { -GtkLevelBar-min-block-width: $levelbar_width; }
}

.level-bar {
	background-color: transparent;
	&.fill-block {
		background-color: $selected_bg_color;

		&.indicator-discrete {
			&.horizontal { margin: 0 ($levelbar_gap / 2); }
			&.vertical { margin: ($levelbar_gap / 2) 0; }
		}
		&.level-high { background-color: $selected_bg_color; }
		&.level-low { background-color: $info_bg_color; }
		&.empty-fill-block { background-color: $bar_color; }
	}
}