/* Sidebar */

//Settings
$side_icon_padding: 8px;

//Classes
GtkPlacesSidebar.sidebar {
	.sidebar-icon {
		padding-left: $side_icon_padding;
		padding-right: $side_icon_padding;
	}
}

.sidebar-toolbar {
	.button.image-button:not(GtkToggleButton) { @include button-flat; }
}