/* Assets */

@mixin plain-check($unchecked, $unchecked-ins, $checked, $checked-ins, $mixed, $mixed-ins) {
	-gtk-icon-source: url($unchecked);

	&:insensitive { -gtk-icon-source: url($unchecked-ins); }
	&:checked {
		-gtk-icon-source: url($checked);
		&:insensitive { -gtk-icon-source: url($checked-ins); }
	}
	&:inconsistent {
		-gtk-icon-source: url($mixed);
		&:insensitive { -gtk-icon-source: url($mixed-ins); }
	}
}

@mixin menuitem-check($checked, $checked-ins) {
	-gtk-icon-source: none;

	&:active, &:checked {
		-gtk-icon-source: url($checked);
		&:insensitive { -gtk-icon-source: url($checked-ins); }
	}

	&:inconsistent {
		-gtk-icon-source: url("images/menuitem-checkbox-mixed.svg");
		&:hover { -gtk-icon-source: url("images/menuitem-checkbox-mixed-hover.svg"); }
		&:insensitive { -gtk-icon-source: url("images/menuitem-checkbox-mixed-insensitive.svg"); }
	}
}

.check {
	@include plain-check(
		"images/checkbox-unchecked.svg",
		"images/checkbox-unchecked-insensitive.svg",
		"images/checkbox-checked.svg",
		"images/checkbox-checked-insensitive.svg",
		"images/checkbox-mixed.svg",
		"images/checkbox-mixed-insensitive.svg"
	);
}

.radio {
	@include plain-check(
		"images/radio-unselected.svg",
		"images/radio-unselected-insensitive.svg",
		"images/radio-selected.svg",
		"images/radio-selected-insensitive.svg",
		"images/radio-mixed.svg",
		"images/radio-mixed-insensitive.svg"
	);
}

.menuitem {
	&.check {
		@include menuitem-check(
			"images/menuitem-checkbox-checked.svg",
			"images/menuitem-checkbox-checked-insensitive.svg"
		);
	}

	&.radio {
		@include menuitem-check(
			"images/menuitem-radio-checked.svg",
			"images/menuitem-radio-checked-insensitive.svg"
		);
	}
}