$bg_color: #202020;
$fg_color: #BBBBBB;
$base_color: #161616;
$text_color: #AAAAAA;
$selected_bg_color: #B1222B;
$selected_fg_color: #EEEEEE;
$button_bg_color: #525252;
$button_fg_color: #CCCCCC;
$menu_bg_color: #272727;
$menu_fg_color: #BBBBBB;
$tab_bg_color: #303030;
$tab_fg_color: #BBBBBB;
$bar_bg_color: #303030;
$slider_color: #525252;
$frame_color: #303030;
$link_color: #B1222B;
$check_color: #404040;
// Color Setup End

$tooltip_bg_color: mix($bg_color, $selected_bg_color, 85%);
$tooltip_fg_color: $fg_color;

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_color: $bg_color;
$titlebar_fg_color: $fg_color;

$menubar_bg_color: $tab_bg_color;
$menubar_fg_color: $tab_fg_color;

$borders_color: $base_color;

$tetradic_angle: 45;
$info_bg_color: $selected_bg_color;
$warning_bg_color: adjust_hue($selected_bg_color, $tetradic_angle);
$question_bg_color: adjust_hue($selected_bg_color, ($tetradic_angle - 180));
$error_bg_color: adjust_hue($selected_bg_color, 180);


$osd_fg_color: $fg_color;
$osd_bg_color: mix($selected_bg_color, $bg_color, 20%);

$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;

$drop_target_color: alpha($selected_bg_color, .8);
